/* fonts */

@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('../fonts/helveticaneuecyr-light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../fonts/helveticaneuecyr-roman.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'plumbbold';
    src: url('../fonts/plumb-bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'plumblight';
    src: url('../fonts/plumb-light.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'plumbmedium';
    src: url('../fonts/plumb-medium.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'plumbregular';
    src: url('../fonts/plumb-regular.otf');
    font-weight: normal;
    font-style: normal;
}

/* end fonts */

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
     padding-right: 0;
     padding-left: 0;
}

.container, ul, li, h1,h2,h3,h4,h5,h6, p,
.navbar-nav>li>a, .navbar-nav>li>a,.nav>li>a {
    padding: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

@media all and (min-width: 1200px) {
    .container {
        margin: 0 auto;
        width: 1109px;
    }
}

html,body {
    height: 100%;
}

body {
    font-family: 'helveticaneuecyrlight',sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'plumbbold', sans-serif;
    text-transform: uppercase;
    color: #024698;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

li {
    list-style: none;
}

/* header */
header {
    height: 56px;
    background-color: #014080;
}

.navbar-brand {
    display: block;
    margin: 10px 38px 0 6px;
    width: 118px;
    height: 36px;
    background: url("../images/imgpsh_fullsize.png") 0 0 no-repeat;
    background-size: contain;
}

ul.header-nav {
    margin-top: 15px;
    padding: 6px 0 0 0;
}

.header-nav li {
    display: inline-block;
    height: 40px;
}

.header-nav a {
    display: block;
    margin-right: 20px;
    font-size: 17px;
    color: #fff;
}

.header-nav span.text {
    display: block;
    height: 24px;
}

.header-nav a:hover {
    background: none;
}

.header-nav li.active a {
    color: #6787c9;
}

.anchor {
    display: block;
    margin: 0 auto;
    width: 12px;
    height: 6px;
    background: url("../images/header-sprite.png") 97% 74% no-repeat;
}

.header-nav a.online-link-border {
    margin: -5px 0 0 20px;
    padding: 3px 12px;
    border: 1px solid #fff;
}

.header-nav .btn-group {
    margin: -1px 0 0 7px;
}

.header-nav .btn-group>.btn:first-child {
    padding: 0;
    font-size: 18px;
}

.header-nav .btn-group button,
.header-nav .btn-group a {
    color: #fff;
}

.header-nav .btn-group button .caret {
    display: inline-block;
    width: 10px;
    height: 6px;
    border: none;
    margin: -2px 5px 0 2px;
    background: url("../images/header-sprite.png") 97% 74% no-repeat;
}

.header-nav .btn-group button {
    border: none;
    background: none;
}

.navbar-header button {
    border-radius: 0;
}
.collapsed.navbar-toggle .icon-bar {
    border-radius: 1px;
    background: #fff;
}

.navbar-toggle .icon-bar {
    background: #6699ff;
}

.btn-default:active:focus, .btn-default:active:hover,
.open>.dropdown-toggle.btn-default:focus {
    color: #fff;
    border: none;
    background-color: transparent;
    box-shadow: 0 0;
}

.dropdown-menu {
    margin: 10px 0 0;
    padding: 0;
}

.open .dropdown-menu {
    background-color: #014080;
}

.open .dropdown-menu>li {
    display: block;
    min-width: 46px;
    height: auto;
}
.open .dropdown-menu>li>a {
    margin-right: 0;
    padding: 11px 0 5px;
    color: #fff;
    text-align: center;
}

.open .dropdown-menu>li>a:hover {
    color: #014080;
}

.open>.dropdown-toggle.btn-default {
    color: #fff;
    background: none;
    border: none;
}
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    padding: 0;
    color: #fff;
    background: none;
    border: none;
}
.open>.dropdown-menu {
    z-index: 1400;
    box-shadow: 0 0;
    border: none;
}
.btn-group.open .dropdown-toggle {
    box-shadow: 0 0;
    background: none;
    border: none;
}
.dropdown-menu {
    min-width: 76px;
    border-radius: 0;
}
.navbar-collapse {
    box-shadow: 0 0;
}

/* end header */

/* short-inf */

.short-inf {
    height: 100%;
    padding-top: 60px;
    background: url("../images/bg.jpg") center top no-repeat;
    background-size: cover;
}

.short-inf .background-house{
    margin: 0 auto;
    max-width: 1787px;
    height: 100%;
    min-height: 640px;
    color: #fff;
    background: url("../images/house.png") 50% 100% no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.short-inf h1 {
    margin: 76px 0 8px;
    color: #fff;
    font-size: 45px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.short-inf h1 + p {
    margin-bottom: 46px;
    font-family: 'plumblight', sans-serif;
    font-size: 30px;
    font-weight: 100;
}

.info-list-block {
    padding: 0;
    margin-right: 5px;
    width: 345px;
}

.info-list {
    padding: 0;
    font-size: 20px;
}

.info-list li {
    margin-bottom: 2px;
}

/* end short-inf */

/* banner*/

.banner {
    margin-top: 11px;
    width: 100%;
    height: 219px;
    background-color: #ccc;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 216px;
    font-size: 43px;
}

/* end banner */

/* brand list */

.production h2 {
    margin: 65px 0;
    font-size: 40px;
    color: #04489d;
}

.brand-list li {
    padding: 0;
    margin-bottom: 8px;
}

.brand-list li div {
    display: block;
    width: 100%;
    min-width: 254px;
    max-width: 367px;
    height: 366px;
    font-size: 25px;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.brand-list li:nth-child(3n+2) div {
    margin-left: 0.25%;
}

.brand-list li:nth-child(3n+3) div {
    float: right;
}

.brand-list li:nth-child(3n+3) div > a {
    margin: 45% 8% 0;
}

.brand-list li span {
    display: inline-block;
    padding: 43% 52px 0;
}

.brand-list-block {
    position: relative;
}

.brand-list-block a.read-more {
    position: absolute;
    margin: -55% 9.5% 0;
    padding: 10px 76px;
    color: #04489d;
    font-size: 22px;
    border: 1px solid #04489d;
    cursor: pointer;
}

.brand-list-block a.read-more,
.brand-list-block:hover span.text {
    display: none;
}
.brand-list-block:hover div {
    opacity:0.17;
    transition: 1.5s;
}

.brand-list-block:hover a.read-more {
    display: block;
}

.brand-list li span.sale {
        display: inline-block;
        position: absolute;
        top: -1px;
        left: -2px;
        width: 117px;
        height: 121px;
        padding: 0;
        line-height: 18px;
        background: url("../images/sale.png") 0 0 no-repeat;
    }
    .sale .sale-text,
    .sale .sale-date {
        display: inline-block;
        margin: 12px 3px 0 -5px;
        padding: 0 53px 0 0;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 19px;
        color: #04489d;
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);

    }
    .sale .sale-date {
        margin: 0;
        padding: 0 27px 0 0;
        font-size: 10px;
        text-transform: none;
        color: #04489d;
    }

.composite {
    background: url("../images/1.jpg") 0 0 no-repeat;
    -webkit-background-size: 367px 366px;
    background-size: 367px 366px;
}

.line-tile {
    background: url("../images/2.jpg") 0 0 no-repeat;
    -webkit-background-size: 366px 366px;
    background-size: 366px 366px;
}

.matal-tile {
    background: url("../images/3.jpg") 0 0 no-repeat;
    -webkit-background-size: 367px 366px;
    background-size: 367px 366px;
}

.natur-tile {
    background: url("../images/4.jpg") 0 0 no-repeat;
    -webkit-background-size: 367px 366px;
    background-size: 367px 366px;
}

.window {
    background: url("../images/5.jpg") 0 0 no-repeat;
    -webkit-background-size: 366px 366px;
    background-size: 366px 366px;
}

.ventilation {
    background: url("../images/6.jpg") 0 0 no-repeat;
    -webkit-background-size: 367px 366px;
    background-size: 367px 366px;
}

.water-system {
    background: url("../images/7.jpg") 0 0 no-repeat;
    -webkit-background-size: 367px 366px;
    background-size: 367px 366px;
}

.siding {
    background: url("../images/8.jpg") 0 0 no-repeat;
    -webkit-background-size: 366px 366px;
    background-size: 366px 366px;
}

.full-stack {
    background: url("../images/9.jpg") 0 0 no-repeat;
    -webkit-background-size: 367px 366px;
    background-size: 367px 366px;
}

/* end brand list */

/* build-stuff */

.build-stuff {
    position: relative;
}
    .build-stuff:before {
        content: "";
        position: absolute;
        display: inline-block;
        width: 28px;
        height: 25px;
        right: 80px;
        top: -24px;
        background: url("../images/triangle.png");
    }

ul.build-stuff {
    margin: -8px auto 0;
    height: 168px;
    background-color: #ebebeb;
}

.build-stuff li {
    padding: 0;
    margin-bottom: 0;
}

.build-stuff li a {
    display: table-cell;
    padding: 0 10px;
    width: 16.66666667%;
    height: 84px;
    text-align: center;
    vertical-align: middle;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
}

.build-stuff li a:hover {
    transition: 1.5s;
    color: #fff;
    background-color: #0c5ca3;
    -webkit-box-shadow: 0 1px 2px 0 rgba(162,162,162,1);
    -moz-box-shadow: 0 1px 2px 0 rgba(162,162,162,1);
    box-shadow: 0 1px 2px 0 rgba(162,162,162,1);
}

/* end build-stuff */

/* trust in */

.trust-in h2 {
    font-size: 41px;
    margin: 77px 0 67px;
}

.trust-in li {
    margin: 0 0 32px 0;
    padding: 0;
}

    .trust-in-block {
        width: 100%;
        max-width: 539px;
        height: 412px;
        padding-top: 265px;
        opacity: 0;
    }
    .trust-in-block p{
        margin: 0;
    }
    .top-text {
        padding: 11px 0 0 8px;
        height: 69px;
        width: 192px;
        text-align: center;
        color: #024698;
        font-size: 48px;
        font-family: 'plumbbold', sans-serif;
        line-height: 59px;
    }
    .top-text .odometer {
        padding: 0 8px;
    }
    .top-text .odometer-digit {
        margin-top: -6px;
        font-family: 'plumbbold', sans-serif;
    }

    .bottom-text {
        padding: 3px 47px 0 8px;
        color: #fff;
        text-align: right;
        font-family: 'helveticaneuecyrlight', sans-serif;
        font-size: 26px;
        text-indent: 9em;
        line-height: 31px;
    }

    .trust-in-block.prof1 {
        background: url("../images/prof1.jpg") 0 0 no-repeat;
    }.trust-in-block.prof2 {
        background: url("../images/prof2.jpg") 0 0 no-repeat;
    }.trust-in-block.prof3 {
        background: url("../images/prof3.jpg") 0 0 no-repeat;
    }.trust-in-block.prof4 {
        background: url("../images/prof4.jpg") 0 0 no-repeat;
    }.trust-in-block.prof5 {
        background: url("../images/prof5.jpg") 0 0 no-repeat;
    }.trust-in-block.prof6 {
        background: url("../images/prof6.jpg") 0 0 no-repeat;
    }

.trust-in li:nth-child(odd) {
    text-align: left;
}
.trust-in li:nth-child(even) {
    text-align: right;
    float: right;
}

/* end trust in */

/* services */

.services h2 {
    font-size: 41px;
    margin: 85px 0 71px;
}

.services li {
    height: 323px;
    padding: 0;
    opacity: 0;
}

.services li.padding-in {
    padding: 0 0 0 50px;
}

.services li h4 {
    margin: 0 0 11px 16px;
    font-size: 30px;
}

.services li p {
    margin-left: 18px;
    font-size: 19px;
    line-height: 25px;
}

.serv-img {
    display: block;
    margin-bottom: 17px;
    width: 168px;
    height: 96px;
    -webkit-transition: -webkit-transform 0.4s ease;
    -moz-transition: -moz-transform 0.4s ease;
    -o-transition: -o-transform 0.4s ease;
    transition: transform 0.4s ease;
}

    .serv-img:hover {
        -webkit-transform: scale(1.06);
        -moz-transform: scale(1.06);
        -ms-transform: scale(1.06);
        -o-transform: scale(1.06);
        transform: scale(1.06);
        /*-webkit-transition: transform 1s ease-in-out;*/
    }

.serv-img.consult {
    background: url("../images/services-sprite.png") -1% 3% no-repeat;
}

.serv-img.calculation {
    background: url("../images/services-sprite.png") 48% 1% no-repeat;
}
.serv-img.install {
    background: url("../images/services-sprite.png") 97% 1% no-repeat;
}
.serv-img.mansard {
    background: url("../images/services-sprite.png") -1% 99% no-repeat;
}
.serv-img.factory {
    background: url("../images/services-sprite.png") 50% 100% no-repeat;
}
.serv-img.save {
    background: url("../images/services-sprite.png") 99% 100% no-repeat;
}
/* end services */

/* additioanal */

.additional {
    margin-top: 121px;
    height: 899px;
    min-height: 305px;
    width: 100%;
    background: #024698 url("../images/additional.jpg") top center no-repeat;
}

.additional h2 {
    margin: 104px 0 20px;
    font-size: 41px;
}

.additional h2, .additional p {
    color: #fff;
}

.additional h2 + p {
    margin-bottom: 123px;
    font-size: 22px;
}

.additional ul {
    margin-bottom: 138px;
}

.additional li {overflow: hidden;
    padding: 0;
    margin-bottom: 16px;
    line-height: 52px;
    opacity: 0;
}

.additional i {
    display: block;
    float: left;
    margin: 0 45px 0 15px;
    width: 50px;
    height: 44px;
}

.additional span {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

i.icon-logistick {
    background: url("../images/additional-sprite.png") 0 3% no-repeat;
}
i.icon-brigade {
    background: url("../images/additional-sprite.png") 0 30% no-repeat;
}
i.icon-chief {
    background: url("../images/additional-sprite.png") 0 60% no-repeat;
}
i.icon-rest {
    background: url("../images/additional-sprite.png") 0 94% no-repeat;
}
i.icon-visual {
    background: url("../images/additional-sprite.png") 98% 3% no-repeat;
}
i.icon-support {
    background: url("../images/additional-sprite.png") 97% 30% no-repeat;
}
i.icon-manager {
    background: url("../images/additional-sprite.png") 99% 60% no-repeat;
}
i.icon-guarantee {
    background: url("../images/additional-sprite.png") 98% 97% no-repeat;
}

.get-consult {
    display: block;
    width: 287px;
    margin: 0 auto;
    padding: 13px 0 12px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
}
.get-consult:hover {
    transition: 1.5s;
    color: #024698;
    background-color: #fff;
}

/* end additioanal */

/* complete */

.complete-project h2 {
    margin: 104px 0 30px;
    font-size: 41px;
}

.complete-project h2 + p {
    margin: 30px 0 58px;
    font-size: 22px;
    font-weight: bold;
    color: #04489d;
    letter-spacing: 0.5px;
}

.complete-project li {
    padding: 0;
    margin: 0;
}

.complete-block, .complete-block-after {
    height: 305px;
}
    .complete-block-after {
        position: relative;
        display: none;
        margin: -305px auto 0;
        z-index: 100;
    }

    .complete-block-hover {
        position: relative;
        margin-bottom: 5px;
        min-width: 254px;
        width: 100%;
        max-width: 365px;
        z-index: 0;
    }

    .complete-block-hover:hover .complete-block-after,
    .complete-block-hover:hover span,
    .complete-block-hover:hover a {
        display: block;
    }

    .complete-block-hover span {
        display: none;
        height: 227px;
        padding: 40px 40px 0;
        font-size: 20px;
        color: #04489d;
        font-weight: bold;
    }
    .complete-block-hover a {
        display: none;
        text-align: center;
        margin: 0 auto;
        max-width: 272px;
        padding: 9px 70px 8px;
        font-size: 17px;
        color: #fff;
        background-color: #04489d;
    }
    .complete-block-hover:hover .complete-block {
        transition: 1.5s;
        opacity: 0.17;
    }
    .complete-block-hover:hover span,
    .complete-block-hover:hover a {
        transition: 1.5s;
    }

.complete-block.complete-pr-1 {
    background: url("../images/complete-sprite.jpg") 0 0 no-repeat;
}.complete-block.complete-pr-2 {
    background: url("../images/complete-sprite.jpg") 50% 0 no-repeat;
}.complete-block.complete-pr-3 {
    background: url("../images/complete-sprite.jpg") 100% 0 no-repeat;
}.complete-block.complete-pr-4 {
    background: url("../images/complete-sprite.jpg") 0 100% no-repeat;
}.complete-block.complete-pr-5 {
    background: url("../images/complete-sprite.jpg") 50% 100% no-repeat;
}.complete-block.complete-pr-6 {
    background: url("../images/complete-sprite.jpg") 100% 100% no-repeat;
}

/* end complete */

/* footer */

footer {
    margin-top: 118px;
    padding: 39px 0;
    background-color: #024698;
}

footer .info-list {
    margin-left: 66px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}
footer .info-list li {
    margin-bottom: 0;
}
footer .info-list.right-block {
    margin-left: 94px;
}

footer .info-list li {
    margin-bottom: 0;
}

footer .get-consult {
    margin: 17px auto;
    font-weight: bold;
}
footer .get-consult:hover {
    color: #024698;
    background-color: #fff;
}

/* end footer */


    /* media */

/* navbar collpse fix*/
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
        max-height: 100%;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}


@media
(min-width: 1200px) and (max-height: 768px)
and (orientation: portrait) {
    .short-inf {
        padding-top: 0;
    }
}

@media all and (max-width: 1200px) {
    .header-nav a {
        margin-right: 0;
    }
    .navbar-collapse .header-nav {
        margin-top: 5px;
        background-color: #0084df;
    }
    .navbar-collapse .header-nav li {
        display: block;
        line-height: 38px;
        text-align: center;
    }
    .navbar-collapse .header-nav li.active,
    .navbar-collapse .header-nav li:hover {
        background-color: #1a91e3;
        -webkit-box-shadow: 0 2px 3px 0 rgba(0,125,212,1);
        -moz-box-shadow: 0 2px 3px 0 rgba(0,125,212,1);
        box-shadow: 0 2px 3px 0 rgba(0,125,212,1);
    }
    .header-nav a.online-link-border {
        margin: 4px auto 0;
        padding: 0 12px;
        max-width: 190px;
    }
    .navbar-collapse .header-nav li.active a {
        color: #01417f;
    }
    .navbar-collapse .header-nav li span.anchor {
        display: none;
    }
    .navbar-brand {
        margin-left: 20px;
    }
    .brand-list li div {
        width: 480px;
        height: 480px;
        max-width: 100%;
    }
    ul.build-stuff {
        margin: 0 auto 0;
        height: 480px;
        width: 480px;
        background-color: #ebebeb;
    }
    .build-stuff li a {
        height: 120px;
    }
    .build-stuff:before {
        content: "";
        top: 30px;
        left: -24px;
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        transform: rotate(30deg);
    }
    .brand-list li div > div {
        background-size: cover;
    }
    .brand-list li div, .brand-list li:nth-child(3n+2) div {
        margin: 0 auto;
    }

    .brand-list li:nth-child(3n+3) div {
        float: none;
    }
    .brand-list-block a.read-more,
    .brand-list li:nth-child(3n+3) div > a {
        margin: -56% 19% 0;
    }
    .trust-in li, .trust-in li:nth-child(even),
    .trust-in li:nth-child(odd) {
        padding: 0 4px;
        text-align: center;
    }
    .bottom-text {
        font-size: 22px;
    }
    .complete-project li div {
        margin: 0 auto 9px;
    }
    .complete-block-hover:hover .complete-block-after{
        margin: -314px auto 0;
    }
    .additional i {
        margin: 0 26px 0 15px;
    }
    .additional span {
        font-size: 19px;
    }
}

@media all and (max-width: 992px) {
    .brand-list li div {
             width: 100%;
             height: 366px;
             max-width: 100%;
    }
    .brand-list-block.full:after {
        content: "";
        top: 30px;
        right: -1px;
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        transform: rotate(30deg);
    }
    .brand-list li div > div {
         background-size: 367px 366px;
    }
    .brand-list-block a.read-more, .brand-list li:nth-child(3n+3) div > a {
         margin: -56% 9.5% 0;
    }
    ul.build-stuff {
        margin: 0 0 0 -1px;
        height: 366px;
        width: 367px;
    }
    .build-stuff:before {
        left: -26px;
    }
    .build-stuff li {
        padding: 0;
        margin-bottom: 0;
    }
    .build-stuff li a {
        width: 125px;
        height: 91px;
    }
    .services li {
        opacity: 1;
    }
    .services li.padding-in {
        padding: 0;
    }
    .additional h2+ p, .additional ul, .additional ul.additional-right {
        margin: 0;
    }
    .additional-right i {
        margin-left: 15px;
    }
    .trust-in-block {
        margin: 0 auto;
        opacity: 1;
    }
    .bottom-text {
        font-size: 26px;
    }
    .additional i {
        margin: 0 45px 0 15px;
    }
    .additional span {
        font-size: 22px;
    }
    footer .info-list,
    footer .info-list.right-block {
        text-align: center;
        margin-left: 0;
    }
}

@media all and (max-width: 768px) {
    .brand-list li {
        width: 100%;
    }
    .brand-list li div {
        max-width: 367px;
    }
    .short-inf h1 {
        font-size: 28px;
    }
    .short-inf h1+p {
        font-size: 18px;
    }
    .short-inf .info-list {
        font-size: 16px;
    }
    .build-stuff ul {
        height: 168px;
    }
    .build-stuff li {
        float: left;
        width: 30%;
    }
    .build-stuff li a {
        padding: 0;
    }
    .trust-in h2, .production h2,
    .services h2, .complete-project h2,
    .additional h2 {
        font-size: 28px;
    }
    .services h4, .services li p, .services span.serv-img {
        text-align: center;
        margin: 0 auto 8px;
    }
    .services li {
        max-height: 323px;
        height: 100%;
    }
    .additional {
        padding: 6px 0;
        background: #024698 url("../images/additional.jpg") center center no-repeat;
    }
    .additional h2 {
        margin: 0;
    }
    .additional h2 + p {
        margin-bottom: 0;
        font-size: 16px;
    }
    .additional ul {
        margin-bottom: 0;
    }
    .additional li {
        margin-bottom: 0;
        text-align: center;
        line-height: 50px;
    }
    .additional i {
        display: block;
        margin: 0 auto;
        float: none;
    }
    .additional span {
        font-size: 16px;
    }
    .bottom-text {
        font-size: 20px;
        padding-right: 28px;
    }
    footer .info-list {
        margin: 16px;
        text-align: center;
    }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1) {
    .info-list-block.pull-right {
        float: none !important;
        margin: 0 auto;
    }
    .short-inf {
        height: 650px;
    }
    .short-inf .background-house {
        min-height: 588px;
    }
}

/*iphone5 */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .short-inf {
        height: 481px;
    }
    .short-inf .background-house {
        min-height: 421px;
    }
    .brand-list-block a.read-more {
        margin: -53% 8% 0;
    }
}

 /*iphone6*/
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .info-list-block.pull-right {
        float: none !important;
        margin: 0 auto;
    }
    .short-inf {
        height: 528px;
    }
    .short-inf .background-house {
        min-height: 439px;
    }
}
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .info-list-block.pull-right {
        float: none !important;
        margin: 0 auto;
    }
    .short-inf {
        height: 628px;
    }
    .short-inf .background-house {
        min-height: 539px;
    }
}

/*iphone6+ */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

    .short-inf {
        height: 628px;
    }
    .short-inf .background-house {
        min-height: 539px;
    }
}
@media only screen
and (min-device-width: 375px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
    .info-list-block.pull-right {
        float: none !important;
        margin: 0 auto;
    }
    .short-inf {
        height: auto;
    }
    .short-inf .background-house {
        min-height:640px;
    }
}




/* more bigger than iphone6+ */
@media only screen
and (min-device-width: 400px)
and (max-device-width: 956px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

    .short-inf {
        height: 628px;
    }
    .short-inf .background-house {
        min-height: 539px;
    }
}
@media only screen
and (min-device-width: 400px)
and (max-device-width: 956px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
    .short-inf {
        height: auto;
    }
    .short-inf .background-house {
        min-height:640px;
    }
}

@media all and (max-width: 450px) {
    .navbar-collapse .header-nav {
        margin-top: 0;
    }
    .brand-list li div {
        padding: 0 4px;
        font-size: 18px;
    }
    .brand-list li span {
        padding: 50% 52px 0;
    }
    .brand-list-block a.read-more {
        font-size: 16px;
    }
    .additional li {
        line-height: 36px;
    }
    .bottom-text {
        padding: 24px 4px 0 4px;
        text-align: center;
        font-size: 16px;
        text-indent: 0;
        line-height: 20px;
    }
}

@media all and (max-width: 370px) {
    .short-inf h1 {
        margin-top: 16px;
        font-size: 18px;
    }
    .info-list-block {
        width: 100%;
        margin: 0 auto;
    }
    .info-list li {
        text-align: left;
        padding: 0 19px;
        font-size: 14px;
    }
    footer .info-list li {
        text-align: center;
    }
}

/* animation */
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transition-delay: 4s;
    transition-delay: 4s;
}
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-10%, 0, 0);
        transform: translate3d(-10%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-10%, 0, 0);
        transform: translate3d(-10%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transition-delay: 4s;
    transition-delay: 4s;
}
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(10%, 0, 0);
        transform: translate3d(10%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(10%, 0, 0);
        transform: translate3d(10%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transition-delay: 4s;
    transition-delay: 4s;
}
@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}